@page "/build"
@inject Services.IBananaService BananaService
@inject Services.IUnitService UnitService

<h3>Build</h3>

<div class="form-group">
    <select class="form-control" @bind="selectedUnitId">
        @foreach (var unit in UnitService.Units)
        {
           <option value="@unit.UnitId">@unit.Title-@unit.BananaCost bananas</option>
        }

    </select>
</div>

<button class="btn btn-warning" @onclick="BuildUnit">Build</button>

@code {

    int selectedUnitId = 1;

    public void BuildUnit()
    {
        Unit selectedUnit = UnitService.Units.FirstOrDefault(u => u.UnitId == selectedUnitId);
        BananaService.EatBananas(selectedUnit.BananaCost);
        UnitService.AddUnit(selectedUnitId);
    }

}
