@inject Services.IBananaService BananaService;
<button class="btn btn-info" @onclick="()=>EarnBananas(20)">+</button>

@code {
    
    public void EarnBananas(int value)
    {
        BananaService.AddBananas(value);
    }
}
