@inject Services.IBananaService BananaService
@implements IDisposable
<div class="top-menu">
    <img src="icons/I_C_Banana.png" alt="" /><span class="popover-header">@BananaService.Banana</span>
    <AddBananas/>
</div>


@code {

    

    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }
}
